<div class="workspot-presentation">
  <h2><strong>Les meilleurs spots pour travailler</strong>,<br><em>partout, près de vous...</em></h2>

  <p>
    Workspot sélectionne pour vous — des lieux sympas, calmes et connectés — cafés,
    restos, hôtels — parfait pour travailler, étudier, échanger… ou simplement changer d’air.
  </p>

  <h3>TOUS LES SPOTS DISPONIBLES :</h3>

  <!-- Carte mais plus tard avec AD -->

    <!-- Carte mais plus tard avec AD -->

  <section class="pact">
    <h2>LE PACT DU WORKSPOTTER</h2>
    <p>
      Travailler dans un <strong>Café</strong>, un <strong>Bistrot</strong> bref un <strong>Spot</strong>, <em>c’est une chance</em>.<br>
      Les lieux référencés ici accueillent les workspotters, <span class="underline">tant que le respect est réciproque</span>.
    </p>

    <div class="rules">
      <div class="rule">
        <h3>1.</h3>
        <p><strong>PENSEZ À DIRE BONJOUR</strong><br>en précisant vos intentions</p>
      </div>
      <div class="rule">
        <h3>2.</h3>
        <p><strong>LORS DU DÉJEUNER</strong><br>PENSEZ À PRENDRE UN REPAS<br>ou à libérer l’espace</p>
      </div>
    </div>

    <p class="reminder">
      Évidemment, si un <strong>Spot</strong> <span class="underline">ne vous respecte pas</span>,
      ou s’il <span class="underline">n’est pas conforme à sa description</span>,<br>
      faites-le nous savoir dans la section <strong>Contact</strong> <em>ci-dessous</em>.
    </p>
  </section>
</div>

<section class="contact-section" id="contact">
  <div class="contact-box">
    <div class="contact-text">
      <h2>CONTACTEZ-NOUS...</h2>
      <p>Si vous êtes :</p>
      <p>Un <strong>Spot</strong> qui mériterait d’être référencé !</p>
      <p>Si vous vous recommandez un <strong>Spot</strong> !</p>
      <p>Si vous avez des remarques à nous faire à propos d’un <strong>Spot</strong>...</p>
    </div>




      <form action="<%= messages_path %>" method="post" class="contact-form">
        <%= csrf_meta_tags %>

        <input type="text" name="message[name]" placeholder="Prénom Nom..." />
        <input type="text" name="message[email]" placeholder="Votre adresse email..." />
        <input type="text" name="message[establishment]" placeholder="Nom de l’établissement..." />
        <input type="text" name="message[address]" placeholder="Adresse de l’établissement..." />


        <select name="message[role]">
          <option disabled selected>Je ...</option>
          <option>Je recommande un spot</option>
          <option>Je suis propriétaire d'un spot</option>
          <option>J'ai une remarque à propos d'un spot</option>
          <option>J'ai une autre demande...</option>
        </select>

        <textarea name="message[content]" placeholder="Commentaire..."></textarea>

        <button type="submit" class="btn-outline">Envoyez votre commentaire</button>
      </form>

  </div>

</section>

<footer class="footer">
  <p>&copy; 2025 Workspot – Tous droits réservés.</p>
</footer>
