<!-- _navbar.html.erb -->
<nav class="navbar-workspot" data-controller="navbar">
  <div class="navbar-button left">
    <%= link_to "TROUVER UN SPOT", "#spots-map", class: "btn-outline" %>
  </div>

  <div class="navbar-logo">
    <%= image_tag("logo-ws.png", alt: "Workspot Logo", class: "logo") %>
  </div>

  <div class="navbar-button right">
    <%= link_to "CONTACTEZ-NOUS", "#contact", class: "btn-outline" %>
  </div>
</nav>
