
  @import "variables";
  @import "pages/index";
  @import "components/navbar";
  @import "mapbox/base";
  @import "mapbox/overrides";


html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9fbff ;// vert semi-transparent

}
.toast-flash {
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  padding: 15px 20px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  animation: fadeOut 0.5s ease-out 4s forwards;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.alert-success {
  background-color: #2f7e41cc; // vert semi-transparent
}

.alert-danger {
  background-color: #dc3546cc; // rouge semi-transparent
}


@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}


.only-desktop { display: block; }

@media (max-width: 768px) {
  .only-desktop { display: none !important; }
}
